<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/styles.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <a href="index.html">Home</a>
        <h1 class="title">Orange chicken</h1>
        <img class="image" src="../images/orangeChicken.jpg">
        <h2>Description</h2>
        Orange chicken is a simple, but delicious recipe that will surprise any family member on a special occasion. We'll see all of 
        The steps necessary to make this delicious dish step by step.
        <h2>Ingredients</h2>
        <ul>
            <li>
                Vinegar
            </li>
            <li>
                3 Oranges
            </li>
            <li>
                Soy sauce
            </li>
            <li>
                Brown Sugar
            </li>
            <li>
                Flour
            </li>
            <li>
                Eggs
            </li>
            <li>
                Corn starch
            </li>
            <li>
                Garlic
            </li>
            <li>
                Water
            </li>
            <li>
                1 chicken breast
            </li>

        </ul>
        <h2>Steps to prepare</h2>
        For the sauce
        <ol>
            <li>
                We put a cup of water to boil
            </li>
            <li>
                Add half a cup of vinegar, half a cup of orange juice and half a cup of soy sauce
            </li>
            <li>
                When it begins to boil add garlic and half a cup of brown sugar
            </li>
            <li>
                If you want a touch of spice add 2-3 dried chillies
            </li>
            <li>
                Add a pinch of corn starch to add consistency
            </li>
        </ol>
        For the chicken
        <ol>
            <li>
                cover the chicken in seasoned flour
            </li>
            <li>
                cover in egg wash
            </li>
            <li>
                Fry chicken until well done
            </li>
            <li>
                Mix together with the orange sauce
            </li>
            <li>
                Enjoy!
            </li>
        </ol>
</body>
</html>